<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
<p>I'm a Google Editor's Choice Android developer. I'm the author of Bluecoins- Budget & Finance for Android, a powerful finance application on the Android Platform. It’s main goal is to help users by providing them with a complete understanding of their personal, family and small business finance.</p> 
<p>In January 2018, Bluecoins was recognized as Google's Editor's Choice, and is ranked as one of the top finance applications on the Google Play Store. As of April 2019, the app has more than 500,000 active downloads. It is supported by more than 50 collaborators that has helped translate Bluecoins to 31 languages around the world. It has been featured on CNN, Inquirer and other reputable websites.</p> 
<p>Other apps I have published on the Google Play Store includes Tipping Guide & Calculator and CryptoCoins. Tipping Guide & Calculator makes international tipping guide information readily available to its users and provides tip calculation. Cryptocoins helps its users get detailed real-time trading information for more than 1000 cryptocurrencies and provides tools to manage their cryptocurrency portfolio.</p> 
<p>You can reach me at jaybarria@gmail.com.</p> 
</div>
